/*lab1.css - stylesheet examples*/

body
{
    background-image: url("canadian_rockies/COLOURBOX24026236.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin-left: 20%;
    margin-right: 20%;
}

div
{
    text-align: center;
    column-count: 2;
    column-gap: 40px;
    column-width: 250px;
}

figcaption
{
	font-family: 'Roboto';
	color: white;
}

h1
{
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 25px;
    color:white;
    font-size: 82px;
    font-weight: bolder;
}

h2
{
	font-family: 'Roboto', sans-serif;
	font-style: italic;
    color: white;
    font-weight: bolder;
    -webkit-text-stroke: 0.75px black;
}
h3
{
	font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bolder;
}

p
{
	font-family: 'Roboto', sans-serif;
	font-size: large;
    color: white;
    /* text-shadow: 1px 1px black; */
    -webkit-text-stroke: 0.75px black;
	
}

img
{
    width: 200px;
    float: left;
    
}

img:hover
{
    transform: scale(1.25);
    transition: all 2s ease-in-out;
}
