/*lab1.css - stylesheet examples*/

body
{
    background-image: url("canadian_rockies/COLOURBOX24026236.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin-left: 20%;
    margin-right: 20%;
}

div
{
    text-align: center;
    column-count: 2;
    column-gap: 40px;
    column-width: 250px;
}


.floatwrap
{
	float: right;
	margin: 10px;
}
.floatwrap-left
{
	float: left;
	margin: 10px;
}

figcaption
{
	font-family: 'Open Sans Condensed';
	color: white;
}

h1
{
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 25px;
    color:white;
    font-size: 82px;
    font-weight: bolder;
}

h2
{
	font-family: 'Open Sans Condensed', sans-serif;
	font-style: italic;
    color: white;
    font-weight: bolder;
}
h3
{
	font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-weight: bolder;
}

p
{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: large;
    color: white;
    text-shadow: 1px 1px black;
	
}

a:hover
{
	background-color: #4AD4D4;
	color: rgb(128, 104, 12);
}

img
{
    width: 200px;
    float: left;
    
}

.imghover
{

}

.example_c {
    color: #ffffff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff00;
    padding: 10px;
    border: 2px solid #ffffff !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    font-family: 'Open Sans Condensed', sans-serif;
    }

.example_c:hover {
    color: #000000 !important;
    background: #ffffff;
    border-color: #ffffff !important;
    transition: all 0.4s ease 0s;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 5%;
    width: 100%;
    color: white;
  }

  #column {
    -moz-column-count: 2;
    -moz-column-gap: 1em;
    -moz-column-rule: 2px solid #ffffff;
    -webkit-column-count: 2;
    -webkit-column-gap: 1em;
    -webkit-column-rule: 2px solid #ffffff;
}

