/* lab6.css - stylesheet for index.html */

header
{
    font-family: 'Odibee Sans', cursive;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    width: max-content;
    margin: auto;
    padding: 3%;
}


h1
{
    font-family: 'Odibee Sans', cursive;
    font-size: 40px;
}

table
{
    font-family: 'Odibee Sans', cursive;
    font-size: 28px;
    color: black;
}
td
{
    padding: 30px;
}

body
{
    background-color: burlywood;
}